:root {
    --background-color: #ffffff;
    --text-color: #2b323a;
    --white: #ffffff;
    --purple: #c77ee1;
    --green: #72d672;
    --blue: #010dff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    overflow-x: hidden;
}

a {
    color: var(--purple);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}  

a:hover {
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}



/* Sections */

.section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8% 10%;
    color: var(--text-color);
}

.section-content {
    text-align: left;
    max-width: 800px;
    width: 100%;
    color: var(--text-color);
}

.contact-links {
    text-align: right;
}

.contact-links a img {
    transition: opacity 0.3s ease;
}
.contact-links a:hover img {
    opacity: 0.6; /* transparent */
}